@import 'variables';

.ce_accordion.ce_text {
  width: 80%;
  max-width: $small-width;
  margin: 40px auto;
  .accordion {
    max-width: $small-width;
    margin: 0 auto;
    .ce_text {
      width: initial;
      max-width: initial;
      margin: initial;
    }
    p {
      a {
        color: $bright-blue;
        text-decoration: none;
        transition: color 250ms;
        &:hover {
          color: $brighter-blue;
        }
      }
    }
  }
}

.ce_accordion .ce_text {
  width: initial;
  max-width: initial;
  margin: initial;
}

.toggler {
  position: relative;
  margin: 0 auto;
  padding: 12px 40px 12px 0;
  cursor: pointer;
  outline: none;
  color: $dark-blue;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.4em;
  transition: color 250ms;
  &:after {
    position: absolute;
    content: '';
    background: url('../layout/accordion-arrow.svg') no-repeat;
    top: 50%;
    right: 0;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    transition: transform 250ms;
  }
  &.active:after {
    transform: translateY(-50%) rotate(180deg);
  }
  &:hover {
    color: $bright-blue;
  }
  h4 {
    padding-right: 40px;
    margin: 0;
  }
  p {
    text-transform: none;
    font-weight: 200;
    margin-top: 0;
    padding-right: 40px;
  }
}

.ce_accordionStart {
  width: 80%;
  max-width: $small-width;
  margin: 40px auto;
}

@media screen and (max-width: $tablet) {
  .ce_accordion {
    overflow: visible;
    margin-bottom: 80px;
  }

  .toggler {
    padding-right: 0;
    &:after {
      top: 100%;
      left: 0;
      transform: none;
    }
    &.active:after {
      transform: rotate(180deg);
    }
    h4 {
      padding-right: 0;
    }
  }

  .accordion > *:first-child {
    margin-top: 70px;
  }
}