@import 'variables';

.job {
  width: 80%;
  max-width: $small-width;
  margin: 40px auto;
  &:last-child {
    margin-bottom: 0;
  }
  ul {
    padding-left: 20px;
    list-style-type: disc;
    li {
      padding-left: 10px;
    }
  }
}

.job-description p a {
  color: $bright-blue;
  text-decoration: none;
  transition: color 250ms;
  &:hover {
    color: $dark-blue;
  }
}