@import 'variables';

.training {
  width: 80%;
  max-width: $small-width;
  margin: 40px auto;
  &:last-child {
    margin-bottom: 0;
  }
  ul {
    padding-left: 20px;
    list-style-type: disc;
    li {
      padding-left: 10px;
    }
  }
  table {
    tr {
      td {
        &:first-child {
          padding-right: 20px;
          vertical-align: top;
        }
        &:last-child {
          padding-bottom: 15px;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .training table tr {
    display: block;
    td {
      display: block;
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}